---
layout: default
permalink: /blog
---
<main class="site_container">
<p1 class="def_font">
  Starlii's Website - Blog Posts
</p1>
<div class="posts">
    {% for post in site.posts %}
      <article class="post def_font">
        {% for tag in site.categories %}
          <h3>{{ tag[0] }}</h3>
          <ul>
          {% for post in tag[1] %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></li></h2>
            📅 posted on: {{ post.date | date: "%B %e, %Y" }}
            <div class="entry">
              <caption>
                {{ post.excerpt }}
              </caption>
            </div>
          {% endfor %}
          </ul>
          {% endfor %}
      </article>
    {% else %}
      <p class="def_font">
          OOPS! There are no posts here... yet, check back later!
          <br>
          <img class="keep_aspect" src="/images/no_blog_posts.svg" alt="\"I wonder where the posts are...\"" width="500" height="300"> </img>
        </p>
    {% endfor %}


  </div>
</main>