@font-face {
    src: url("fonts/RethinkSans/RethinkSans-Regular.ttf");
    font-family: "Rethink Sans", serif;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url("fonts/RethinkSans/RethinkSans-Italic.ttf");
    font-family: "Rethink Sans", serif;
    font-weight: 400;
    font-style: italic;
}
/* TODO: all other Rethink Sans font faces */

    body {
        height: 100%;
        background-image: url(images/bg_tile.png), linear-gradient(to bottom right, #DBCE3B, #541779);
        background-attachment: fixed;
        background-position: top left;
        animation: 3s ease-in 1s infinite reverse both running slidein;
        
        padding-left: 20%;
        padding-right: 20%;
        font-family: "Rethink Sans", serif; /* forcibly apply font because blog page breaks otherwise */
    }

    body {
        background-size: 256px 256px, cover;
        background-repeat: repeat, no-repeat;
    }

    .text_shadow{
        background-color: rgba(0, 0, 0, 0.697);
        color: white;
        display: inline-block;
        padding: 0.25%;
      }

    /* Classes */
    .site_container_top{
        display: inline-flexbox;
        color: rgb(255, 237, 254);
        border: 10px solid #746a00;
        background-color: #B9B265;
        text-align: center;
        padding: 12px;
      }
      .site_container_links{
        display: inline-block;
        background-color: #332f00;
        border: 10px solid #746a00;
        color: rgb(4, 4, 4);
        padding: 12px 36px;
        overflow: hidden;
        text-align: center;
      }

    .site_container    {
        display: inline-flexbox;
        background-color: #cabe72;
        border: 10px solid #746a00;
        color: rgb(4, 4, 4);
        padding: 12px 36px;
    }

    .def_font{
        font-family: "Rethink Sans";
    }


    .white_link:visited, .white_link:active, .white_link:disabled, .white_link:enabled, .white_link{
        color: white;
    }

    .white_link:hover{
        color: paleturquoise;
    }

    .keep_aspect{
        object-fit: contain;
    }

    .float_left{
        float: inline-start;
    }

    .container{
        display: inline-flexbox;
    }

    .embed_padding{
        padding: 16px;
    }
    
    .half_image{
        max-width: 100%;
    }

    .center{
        align-content: center;
    }