---
layout: default
permalink: /blog
title: Blogs
---
<main class="site_container">
    <p1 id="" class="">
    Starlii's Website - Blog
    </p1>
    <div class="posts">
        <br>
        Table of Contents:
        <li><a href="#siteupdates">Site Updates</a></li>
        <li><a href="#soonish">Coming Soon-ish?</a></li>
        <br>
        <h3 id="siteupdates">Site Updates</h3>
      {% for post in site.categories.site %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></li></h2>
      Posted on {{ post.date | date: "%B %e, %Y" }}
      <div class="entry">
        <caption>
          {{ post.excerpt }}
        </caption>
      </div>
      {% else %}
      <p class="def_font">
        Nothing here. Check back later!
        <br>
        <!-- <img class="keep_aspect half_image" src="/images/no_blog_posts.svg" alt="starstruck wondering where the posts are" width="300"> </img> -->
      </p>
      {% endfor %}
      <br>
      <br>
      <h3 id="placeholder">Placeholder</h3>
      {% for post in site.categories.soonish %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></li></h2>
      Posted on {{ post.date | date: "%B %e, %Y" }}
      <div class="entry">
        <caption>
          {{ post.excerpt }}
        </caption>
      </div>
      {% else %}
      <p class="def_font">
        Nothing here. Check back later!
        <br>
        <!-- <img class="keep_aspect half_image" src="/images/no_blog_posts.svg" alt="starstruck wondering where the posts are" width="300"> </img> -->
      </p>
      {% endfor %}
      <a href="#">Back To Top</a>
    </div>
  </div>
</main>